.bookToken,
.bookEndToken {
  color: rgb(134, 146, 186);
}
.chapterToken,
.chapterEndToken {
  color: rgb(168, 182, 225);
}
.verseToken,
.verseEndToken {
  color: rgb(207, 218, 255);
}
.errorToken {
  color: rgb(199, 104, 106);
}
